AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_DEFAULT_REGION=

TF_VAR_aws_k8s_version=1.36
TF_VAR_aws_k8s_node_groups='{<project-group-env>-ng1 = { name = "<project-group-env>-ng1", "instance_types" = ["t3.small"], "min_size": 1, "desired_size": 2, "max_size": 3, "disk_size": 20, "ami_type" = "AL2023_x86_64_STANDARD", "use_latest_ami_release_version" = false, release_version = "1.36.1-20260529" }}'
