{"aws_k8s_managed_node_groups" : {
    "ng1": {
      "name": "ng1",
      "instance_types": ["t3.large"],
      "min_size": 1,
      "desired_size": 2,
      "max_size": 3,
      "disk_size": 20
    },
    "ng2": {
      "name": "ng2",
      "instance_types": ["t3.medium"],
      "min_size": 1,
      "desired_size": 2,
      "max_size": 3,
      "disk_size": 20
    }
  }
}